{% load static %}
{% for item in objects %}
  <div class="col-md-4 item-col">
    <div class="item">
      <div class="img-div img-click"
           {% if item.image %}style="background-image: url('{{ item.image.url }}')"{% endif %}>
        <div class="for-modal">
          <div>{{ item.description|safe }}</div>
          {% if item.location %}
            <p>Location: <b>{{ item.location }}</b></p>
          {% endif %}
          <p>Created: <b>{{ item.created_at }}</b></p>
          <p>Last update: <b>{{ item.updated_at }}</b></p>
        </div>
        <div class="row">
          <div class="col-6">
            <ul class="list-group list-group-flush">
              {% for tag in item.tags.all %}
                <li class="list-group-item">{{ tag.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-6"></div>
        </div>

      </div>
      <p>{{ item.name }}</p>
    </div>
  </div>
{% endfor %}