{% load static %}
{% for item in objects %}
  <div class="col-md-4 item-col">
    <div class="item">
      <div class="img-div img-click" data-created_at="{{ item.created_at }}" data-updated_at="{{ item.updated_at }}"
           {% if item.image %}style="background-image: url('{{ item.image.url }}')"{% endif %}>
      <div class="description-hidden">{{ item.description|safe }}</div>
        <div class="row">
          <div class="col-6">
            <ul class="list-group list-group-flush">
              {% for tag in item.tags.all %}
                <li class="list-group-item">{{ tag.name }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-6"></div>
        </div>

      </div>
      <p>{{ item.name }}</p>
    </div>
  </div>
{% endfor %}