{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  {{ form.media.css }}
{% endblock extra_css %}
{% block content %}
  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      {% if object %}
        <input type="submit" class="btn btn-warning" value="Update">
      {% else %}
        <input type="submit" class="btn btn-success" value="Add">
      {% endif %}
    </form>
  </div>
{% endblock content %}
{% block extra_js %}
  {{ form.media.js }}
{% endblock extra_js %}