{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
  <style>
      .img-div {
          background-image: url('{% static 'No-Image.png' %}')
      }
  </style>
{% endblock extra_css %}
{% block content %}
  <div class="container">
    <form method="post" action="{% url 'inventory:set_filters' %}">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
          {{ form.name }}
        </div>
        <div class="col-md-6 mb-3 auto-margin text-center">
          {{ now }}
        </div>
      </div>
      <hr class="mb-4">
      <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
      {{ form.tags }}
      <hr class="mb-4">
      <div class="d-block my-3">
        <div class="custom-control custom-radio">
          {{ form.starts_with }}
        </div>
      </div>
      <hr class="mb-4">
      <div class="row">
        <div class="col-md-4 layouts">
          <button type="button" class="btn btn-secondary">
            <i class="bi bi-grid-3x3-gap-fill"></i>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-grip-horizontal"></i>
          </button>

          <button type="button" class="btn btn-outline-secondary">
            <i class="bi bi-justify"></i>
          </button>

        </div>
        <div class="col-md-8 buttons">
          <button class="btn btn-primary" type="submit">Filter</button>
          <a class="btn btn-secondary" role="button"
             href="{% url 'inventory:clear_filters' %}?next={% url 'inventory:items_list' %}">
            Clear filters</a>
        </div>
      </div>
    </form>
    <div class="row">
      {% include '_partials/items_layout1.html' with objects=object_list %}
    </div>
    {% include '_partials/pagination.html' %}
  </div>
  <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6" style="height: 90vh">
              <img alt="Full img" src="" class="imgpreview">
            </div>
            <div class="col-md-6">
              <div id="modalDescription"></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

{% endblock content %}
{% block extra_js %}
  <script>
      const inputs = $("#id_starts_with input")
      let dict = {}
      inputs.each((idx, el) => {
          let input = $(el)
          dict[input.attr('id')] = input.is(':checked')
          if (input.is(':checked')) {
              $("label[for='" + input.attr('id') + "']").addClass('selected')
          }
      })
      inputs.on('click', (e) => {
          let input = $(e.currentTarget)
          let label = $("label[for='" + input.attr('id') + "']");
          $('#id_starts_with label').removeClass('selected')
          if (input.is(':checked') === dict[input.attr('id')]) {
              input.prop('checked', false);
          } else {
              label.addClass('selected')
          }
          Object.keys(dict).forEach(v => dict[v] = false)
          dict[input.attr('id')] = input.is(':checked')
      });
      $('.img-click').on('click', (e) => {
          let el = $(e.currentTarget)
          let body = el.children('.description-hidden')[0].innerHTML
          body +=`<br><p>Created: <b>${el.data('created_at')}</b></p><p>Last update: <b>${el.data('updated_at')}</b></p>`
          $('#modalDescription').html(body)
          $('.imgpreview').attr('src', el.css('background-image').replace(/^url\(['"]?/, '').replace(/['"]?\)$/, ''));
          $('#imgModal').modal('show');
      });
  </script>
{% endblock extra_js %}