.dot {
  position: absolute;
  background: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border: solid 2px;
  cursor: pointer;
}

.dot-placeholder {
  position: absolute;
  background: #FF000077;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.img-div {
  position: relative;
  img{
    width: 100%;
    cursor: crosshair;
  }
}

.hideform {
  display: none;
}
