{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
  <style>
      .dot {
          position: absolute;
          background: red;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          z-index: 100;
          border: solid 2px;
          cursor: pointer;
      }

      .dot-placeholder {
          position: absolute;
          background: #FF000077;
          border-radius: 50%;
          transform: translate(-50%, -50%);
      }

      .img-div {
          position: relative;
      }

      .img-div img {
          cursor: crosshair;
      }

      .row div {
          padding: 0;
      }

      .hideform {
          display: none;
      }
  </style>
{% endblock extra_css %}
{% block content %}
  <div class="container">
    <div class="row">
      {% for layout in object_list %}
        <div class="col-md-8">
          <div id="imagePreview{{ layout.pk }}" class="img-div">
            <img src="{{ layout.image.url }}">
          </div>
        </div>
        <div class="col-md-4">{{ layout.name }}</div>
      {% endfor %}
    </div>
  </div>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalForm">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="modalFormTitle"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="locationForm">
            {% csrf_token %}
            {{ form.as_p }}
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
      const dots = {{ js_obj|safe }};
      const images = $('.img-div img');
      $(document).on('click', '.dot', (ev) => {
          const dot = $(ev.currentTarget)
          console.log(dot.data())
      })
      images.on('dragstart', (event) => {
          event.preventDefault();
      });
      $('#modalForm').on('hidden.bs.modal', () => {
          $('.dot-placeholder').remove()
      })
      images.on('click', (ev) => {
          const img = $(ev.currentTarget)
          const o = img.offset()
          const y = ev.pageY - o.top
          const x = ev.pageX - o.left
          const dot = $('<div />', {
              'class': 'dot-placeholder',
              css: {
                  top: y,
                  left: x,
                  width: 20,
                  height: 20,
              },
          });
          const imagePreview = img.parent()
          const pk = imagePreview.attr('id').replace('imagePreview', '')
          imagePreview.append(dot)
          $('#id_x').attr('value', Math.round(x))
          $('#id_y').attr('value', Math.round(y))
          $('#id_layout').val(pk).change()
          $('#modalForm').modal('show')
      });
      $(document).ready(() => {
          for (const [key, value] of Object.entries(dots)) {
              const id = `#${key}`
              value.forEach((el) => {
                  const dot = $('<div />', {
                      'class': 'dot',
                      css: {
                          top: el.y,
                          left: el.x,
                          width: 20,
                          height: 20,
                      },
                  });
                  $(id).append(dot)
                  dot.data({name: el.name, pk: el.pk})
              })
          }
      })
  </script>
{% endblock extra_js %}